{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="about-section">
  <h1>About Us </h1>
  <p></p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./static/img/ansh.jpeg" alt="Ansh Preet Singh" style="width:8%">
      <div class="container">
        <h2>Ansh Preet singh</h2>
        <p class="title">CEO & Founder</p>
        <p>started this in 2021 from scrach with his study.</p>
        <p>anshca36@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>cd
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./static/img/me.jpg" alt="abhishek garg" style="width:8%">
      <div class="container">
        <h2>Abhishek Garg</h2>
        <p class="title">manager</p>
        <p>son of kulwant rai. now doing full time work at this firm</p>
        <p>gargabhishek@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


{% endblock body %}