{% extends 'base.html' %}
{% block title %}australia{% endblock title %}
{% block body %}
<div.container>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./static/img/Australia.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Syudy in Australia</h5>
        <p>with 2 year work permit.</p>
      </div>

  </div>
</div>
</div.container>
<p style="font-size:300%;">
  Some tips and advantages to stay in australia
</p>
<pre>
  1. Choose your course and school There are numerous universities, colleges and training institutions across Australia. ...

  2. Make sure you are eligible to study in Australia ...

  3. Prepare for your departure ...

  4. Know your responsibilities and rights as an international student ...

  5. Live within your means ...

  6. Have fun ...

  7. Think about the future
</pre>

<div class="container my-3">
  <h1 class="my-2 text-center">select type of visa </h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/study.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">study in australia</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/travel.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">get travel visa of australia</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/work.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">get easy work permit 2 years</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endblock body %}
