{% extends 'base.html' %}
{% block title %}canada{% endblock title %}
{% block body %}
<div.container>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./static/img/canada.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Study in canada </h5>
        <p>with 2 year work permit and guaranted work oppertunity.</p>
      </div>

  </div>
</div>
</div.container>
<p style="font-size:300%;">
  Some tips and advantages to stay in canada
</p>
<pre>
  1. Affordable education One of the most unique and greatest benefits of studying in Canada is the affordability of education. ...

  2. Quality education From primary to post-secondary levels, Canada is known all over the world for the outstanding quality of education it provides. ...

  3. Standard of living ...

  4. Work-student life balance in Canada ...

  5. Student Safety ...

  6. Immigration Opportunities ...

  7. Job opportunities in Canada ...
</pre>

<div class="container my-3">
  <h1 class="my-2 text-center">select type of visa </h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/studyG.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">study in canada</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/travel2.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">get travel visa of canada</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/work2.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">get easy work permit 2 years</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endblock body %}
