{% extends 'base.html' %}
{% block title %}germany{% endblock title %}
{% block body %}
<div.container>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./static/img/germany.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Study in germany </h5>
        <p>with 2 year work permit and guaranted work oppertunity.</p>
      </div>

  </div>
</div>
</div.container>
<div class="bg-success p-2 text-white bg-opacity-75">

  <p style="font-size:300%;">
    Some tips and advantages to stay in germany
  </p>
  <pre>
    1. Tuition free education at all public universities in Germany ...

    2. World-class staff members and Ultra-modern infrastructure ...

    3. Globally recognized degrees ...

    4. Numerous courses taught in English ...

    5. Great job opportunities ...

    6. An opportunity to explore all facets of life in Germany ...

    7. Remaining in Germany after completing your studies ...
  </pre>
</div>

<div class="container my-3">
  <h1 class="my-2 text-center">select type of visa </h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/study2.jpeg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">study in germany</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/travel3.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">get travel visa of germany</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/img/work 3.jpg" class="d-block w-100" alt="...">


            <div class="card-body">
              <p class="card-text">get easy work permit 2 years</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

{% endblock body %}
